* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.7rem;
}

.nav-link {
  font-weight: 600;
  font-size: 1.2rem;
}

h1 {
  font-weight: 700;
  text-align: center;
}

.home__carousel {
  width: 100% !important;
  max-width: 1980px;
  margin: 0 auto;
  margin-top: 2em;
  border: 5px solid black;
  border-radius: 20px;
  & img {
    height: 600px !important;
    border-radius: 10px;
    margin: 0 auto;
  }
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  margin: 0 auto;
  margin-top: 2em;
  & .icon {
    font-size: 3rem;
    cursor: pointer;
  }
}
